Repository ryman63/DevOps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, test_frontend, test_backend

build_frontend:
  stage: build
  image: node:18
  working_directory: $CI_PROJECT_DIR/devops-front
  script:
  - npm ci
  - npm run build
  artifacts:
    paths:
    - devops-front/build
    expire_in: 1 hour

build_backend:
  stage: build
  image: gradle:8.10-jdk17
  working_directory: $CI_PROJECT_DIR/devops-backend
  script:
  - ./gradlew build -x test
  artifacts:
    paths:
    - devops-backend/build/libs
    expire_in: 1 hour

test_frontend:
  stage: test
  image: node:18
  working_directory: $CI_PROJECT_DIR/devops-front
  script:
  - npm ci
  - npm test -- --watchAll=false

test_backend:
  stage: test
  image: gradle:8.5-jdk17
  working_directory: $CI_PROJECT_DIR/devops-backend
  script:
  - gradle test

actions
  .github/workflows/ci.yml
Due: none

actions
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/tests.yml
Due: none

actions
  .github/workflows/build.yml
Due: none

actions
  .github/workflows/tests.yml
Due: none

a few tests
  devops-front/src/__tests__/AddCar.test.jsx
  devops-front/src/__tests__/AddHandling.test.jsx
  devops-front/src/__tests__/CreateNotification.test.jsx
  devops-front/src/__tests__/HandlingList.test.jsx
  devops-front/src/__tests__/NotificationList.test.jsx
  devops-front/vite.config.ts
Due: build_frontend, test_frontend

a few tests
  devops-front/src/__tests__/NotificationList.test.jsx
Due: build_frontend, test_frontend

Create .env
  .env
Due: none

Create docker-compose.yml
  docker-compose.yml
Due: none

Create Dockerfile
  devops-front/Dockerfile
Due: build_frontend, test_frontend

Create nginx.conf
  devops-front/nginx.conf
Due: build_frontend, test_frontend

Update api.jsx
  devops-front/src/api.jsx
Due: build_frontend, test_frontend

Update CorsConfig.java
  devops-backend/src/main/java/devops/CorsConfig.java
Due: build_backend, test_backend

Update application.properties
  devops-backend/application.properties
Due: build_backend, test_backend

Update Dockerfile
  devops-backend/Dockerfile
Due: build_backend, test_backend

Update vite.config.js
  devops-front/vite.config.js
Due: build_frontend, test_frontend

ci/cd docker push and build
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
  devops-backend/application.properties
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/hpa.yaml
  k8s/namespace.yaml
  k8s/postgres.yaml
Due: build_backend, test_backend

self-hosted runner
  .github/workflows/build.yml
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
  .github/workflows/tests.yml
  .gitignore
Due: none

workflow fix
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
Due: none

workflow fix
  .github/workflows/docker-frontend.yml
Due: none

Path conditions:
  build_frontend: any of: devops-front/**/*, .gitlab-ci.yml
  build_backend: any of: devops-backend/**/*, .gitlab-ci.yml
  test_frontend: any of: devops-front/**/*, .gitlab-ci.yml
  test_backend: any of: devops-backend/**/*, .gitlab-ci.yml
