Repository ryman63/DevOps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, test_frontend, test_backend

.gitlab-ci.yml:

stages:
  - build
  - test

# Сборка frontend
build_frontend:
  stage: build
  image: node:18
  working_directory: $CI_PROJECT_DIR/devops-front
  script:
    - npm ci
    - npm run build
  artifacts:
    paths:
      - devops-front/build
    expire_in: 1 hour
  only:
    changes:
      - devops-front/**/*
      - .gitlab-ci.yml

# Сборка backend
build_backend:
  stage: build
  image: gradle:8.10-jdk17
  working_directory: $CI_PROJECT_DIR/devops-backend
  script:
    - ./gradlew build -x test
  artifacts:
    paths:
      - devops-backend/build/libs
    expire_in: 1 hour
  only:
    changes:
      - devops-backend/**/*
      - .gitlab-ci.yml

# Тестирование frontend
test_frontend:
  stage: test
  image: node:18
  working_directory: $CI_PROJECT_DIR/devops-front
  script:
    - npm ci
    - npm test -- --watchAll=false
  only:
    changes:
      - devops-front/**/*
      - .gitlab-ci.yml

# Тестирование backend
test_backend:
  stage: test
  image: gradle:8.5-jdk17
  working_directory: $CI_PROJECT_DIR/devops-backend
  script:
    - gradle test
  only:
    changes:
      - devops-backend/**/*
      - .gitlab-ci.yml

fix postgres conn
  devops-backend/application.properties
Due: build_backend, test_backend

fix postgres conn
  .github/workflows/docker-backend.yml
  devops-backend/.gradle/8.5/checksums/checksums.lock
  devops-backend/.gradle/8.5/checksums/md5-checksums.bin
  devops-backend/.gradle/8.5/checksums/sha1-checksums.bin
  devops-backend/build.gradle
  k8s/backend.yaml
  k8s/postgres.yaml
Due: build_backend, test_backend

fix postgres conn
  .github/workflows/docker-backend.yml
  devops-backend/Dockerfile
Due: build_backend, test_backend

fix postgres conn
  devops-front/src/api.jsx
Due: build_frontend, test_frontend

fix postgres conn
  devops-front/src/api.jsx
  k8s/backend-service.yaml
Due: build_frontend, test_frontend

fix conn
  devops-front/src/api.jsx
Due: build_frontend, test_frontend

fix conn
  .github/workflows/docker-frontend.yml
  k8s/frontend.yaml
Due: none

fix conn
  .github/workflows/docker-frontend.yml
  devops-front/src/api.jsx
  k8s/backend.yaml
  k8s/frontend.yaml
Due: build_frontend, test_frontend

fix conn
  devops-front/vite.config.js
Due: build_frontend, test_frontend

fix cors config
  devops-backend/src/main/java/devops/CorsConfig.java
Due: build_backend, test_backend

fix connection
  devops-backend/src/main/java/devops/CorsConfig.java
  devops-front/src/api.jsx
  k8s/backend-service.yaml
  k8s/backend.yaml
  k8s/frontend.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
Due: build_frontend, build_backend, test_frontend, test_backend

fix connection
  .github/workflows/tests.yml
Due: none

fix connection
  devops-backend/src/main/java/devops/CorsConfig.java
  devops-front/src/api.jsx
Due: build_frontend, build_backend, test_frontend, test_backend

fix connection
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
Due: none

fix connection
  devops-front/src/api.jsx
Due: build_frontend, test_frontend

fix connection
  devops-front/src/api.jsx
  k8s/frontend.yaml
  k8s/ingress.yaml
Due: build_frontend, test_frontend

fix connection
  devops-backend/src/main/java/devops/CorsConfig.java
  k8s/ingress.yaml
Due: build_backend, test_backend

fix connection
  devops-backend/src/main/java/devops/CorsConfig.java
Due: build_backend, test_backend

fix connection
  devops-backend/application.properties
  devops-backend/build.gradle
Due: build_backend, test_backend

123
  README.md
Due: none

test commit
  README.md
Due: none

Update ci-cd.yml
  .github/workflows/ci-cd.yml
Due: none

Fix GitHub Actions workflow syntax errors and simplify SonarQube integration
  .github/workflows/ci-cd.yml
  .github/workflows/sonarqube.yml
Due: none

Add manual workflow trigger (workflow_dispatch)
  .github/workflows/ci-cd.yml
  .github/workflows/simple-test.yml
  .github/workflows/sonarqube.yml
Due: none
