Repository ryman63/DevOps: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_frontend, build_backend, test_frontend, test_backend

build_frontend:
  stage: build
  image: node:18
  working_directory: $CI_PROJECT_DIR/devops-front
  script:
  - npm ci
  - npm run build
  artifacts:
    paths:
    - devops-front/build
    expire_in: 1 hour

build_backend:
  stage: build
  image: gradle:8.10-jdk17
  working_directory: $CI_PROJECT_DIR/devops-backend
  script:
  - ./gradlew build -x test
  artifacts:
    paths:
    - devops-backend/build/libs
    expire_in: 1 hour

test_frontend:
  stage: test
  image: node:18
  working_directory: $CI_PROJECT_DIR/devops-front
  script:
  - npm ci
  - npm test -- --watchAll=false

test_backend:
  stage: test
  image: gradle:8.5-jdk17
  working_directory: $CI_PROJECT_DIR/devops-backend
  script:
  - gradle test

workflow fix
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
Due: none

workflow fix
  .github/workflows/docker-frontend.yml
Due: none

fix workflows
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
Due: none

fix workflows
  .github/workflows/docker-backend.yml
Due: none

fix workflows
  devops-front/package-lock.json
Due: build_frontend, test_frontend

fix workflows
  .github/workflows/docker-backend.yml
  devops-backend/Dockerfile
Due: build_backend, test_backend

fix workflows
  devops-backend/Dockerfile
Due: build_backend, test_backend

fix workflows
  devops-backend/build.gradle
Due: build_backend, test_backend

fix workflows
  .github/workflows/docker-backend.yml
  .github/workflows/docker-frontend.yml
  devops-backend/build.gradle
Due: build_backend, test_backend

fix workflows
  .github/workflows/docker-backend.yml
  k8s/backend.yaml
  k8s/frontend.yaml
Due: none

fix properties backend for kuber
  devops-backend/.gradle/8.5/checksums/checksums.lock
  devops-backend/.gradle/8.5/checksums/sha1-checksums.bin
  devops-backend/build.gradle
Due: build_backend, test_backend

fix properties
  devops-backend/.gradle/8.5/checksums/checksums.lock
  devops-backend/.gradle/8.5/checksums/md5-checksums.bin
  devops-backend/.gradle/8.5/checksums/sha1-checksums.bin
  devops-backend/build.gradle
  devops-backend/build/libs/META-INF/MANIFEST.MF
Due: build_backend, test_backend

fix properties
  .github/workflows/docker-backend.yml
Due: none

fix properties
  .github/workflows/docker-backend.yml
  devops-backend/Dockerfile
  devops-backend/build.gradle
Due: build_backend, test_backend

fix properties
  devops-backend/build.gradle
Due: build_backend, test_backend

fix properties
  devops-backend/Dockerfile
  devops-backend/build.gradle
Due: build_backend, test_backend

fix properties
  .github/workflows/docker-backend.yml
  k8s/backend.yaml
  k8s/frontend.yaml
Due: none

fix properties
  devops-backend/Dockerfile
  devops-backend/build.gradle
  k8s/backend.yaml
Due: build_backend, test_backend

fix properties
  devops-backend/Dockerfile
Due: build_backend, test_backend

Path conditions:
  build_frontend: any of: devops-front/**/*, .gitlab-ci.yml
  build_backend: any of: devops-backend/**/*, .gitlab-ci.yml
  test_frontend: any of: devops-front/**/*, .gitlab-ci.yml
  test_backend: any of: devops-backend/**/*, .gitlab-ci.yml
